
/*common style*/
body{
    line-height: 25px;
}
h1{
    font-size: 4.2rem;
}
h2
{
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 3rem;
    font-weight: 700;
}
h3 {
    color: #1e1e1e;
    font-size: 1.8rem;
    
}

h4{
    color: #fff;
    font-size: 2rem;
}
.sec-border{
    height: 5px;
    width: 50px;
background-color:  #007bff;

}
.shadow-sm{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1) !important;
}
#navbar {
    background-color: transparent;
}
.nav-link{ color: #fff;}
#btnup {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #007bff;
    color: #fff;
}
/* header*/
header {
    background-image: url("../img/intro-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
     background-blend-mode: overlay;
    display: flex;
  
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
   font-weight: 500;
   
   

}
.navbar-dark .navbar-nav .nav-link:hover{
color: #fff;



}
.navbar-dark .navbar-nav .nav-item:hover ::after{  content: "";
    
    width: 80%;
    height: 2px;
    background-color: #fff;
    top: 100%;
    left: 10%;
    position: absolute;
animation: border .5s;

    }
  
 @keyframes border{
 0%{width: 0;
 }
 100%{width: 80%;}
}
.navbar-dark .navbar-brand{
    font-size: 1.6rem;
    
}

.typing{
    display: inline-block;
    
}
.typing::after{
    position: relative;
    top:0;
    left:0;
font-size: 2rem;
    content: "";
    display: inline-block;
    animation: typing-effect 10s steps(40) infinite reverse;
   width: 100%;
}

@keyframes typing-effect{
0%{
    content: "CEO DEVELOPER";
}
25%{content: "WEB DEVELOPER";}
50%{ content: "WEB DESIGNER";}
100%{content: "GRAPHIC DESIGNER";}

}
/*about */
 #about {   
        color: #4e4e4e;
        background-color: #f5f5f5;
        }

 #about .row {
        background-color: #fff;
    }
.progress {
        height:10px;
    }

     .border-primary {
        height: 5px;
        width: 90px;
    background-color:  #007bff;

    }
    #about  .about-me p {
        font-size: 18px;
        font-weight: 300;
    }  

    /* services*/
    #services {
        background-color:#f5f5f5;
        background-blend-mode: multiply;
        background-attachment: fixed;
    }
 #services .card {
        border-radius: 1rem;
        transition: all 1s;
        padding-top: 30px;
    }
 #services .card:hover  i{
        background-color: #007bff;
        color: #fff;
        border: rgb(216, 205, 205) 7px solid;

    }
      #services p{
        color: #4e4e4e;
        font-weight: 400;
        line-height: 1.5;
    }
   
    #services .card i {
        font-size: 3rem;
      padding:10px 20px ;
border-radius: 50%;
transition: all .5s;
border-radius: 50%;
border: #007bff solid 7px;

    }
   
  .numbers i {
    font-size: 2.5rem;
    padding: 10px 20px ;
border-radius: 50%;
transition: all .5s;
border-radius: 50%;
border: #d5d5d5 solid 7px;
color: #fff;

  }
   #services .overlay {
    background-image: url("../img/counters-bg.jpg");
    background-attachment: fixed;
    background-size: cover;

  }
.numbers {

    background-color: #0077ff8c;

    height:auto;
    display: flex;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

/*work*/
#work {
    background-color: #f5f5f5;

}
.w-ctegory{
    color: #007bff;
    font-size: .8rem;
}
.w-date{
    font-size: .8rem;
}
.ion-ios-plus-outline {
    font-size: 2.5rem;
    color: #007bff;
}
 .card img {
    transition:all 1s ;

 }

.card-img{
    overflow: hidden;

}
#work .card:hover img{
    transform: scale(1.3);

}
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#006adb;
    background-image: url("../img/overlay-bg.jpg");
    background-blend-mode:soft-light;
    background-attachment: fixed;
    background-size: cover;
  }

.carousel i{
font-size: 2rem;
padding: 10px;
border-radius: 50%;
color: #007bff;
background-color: #fff;
}
.carousel-indicators{position: absolute;
    top:90%;
    left:0;

}
.carousel-indicators li {
    width: 18px;
    height: 7px;
    margin: 5px 5px;
    background: #cde1f8;
    border: 0px solid #cde1f8;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
  }
  .carousel-indicators .active {
      background-color: #1b1b1b;
      width: 25px;
  }
  .carousel-caption{
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .carousel-caption h5 {
      font-size: 1.5rem;
  }
  .carousel-caption p{
      font-size: 1.2rem;
      font-weight: 300;
  }

  /*blog*/
  #blog{
      background-color: #f5f5f5;
  }
  #blog .card-footer span {
      font-size: .9rem;
     
  }
  #blog .card-footer img {
      width: 20%;
      height: auto;
      
  }
  #blog .card .after{
      
     top:90%;
      position: absolute;
      
  }
  #blog .card h5:hover{
      color: #007bff;
      cursor: pointer;
  }
  #blog .card h5 {transition: all .5s;}
  #blog button{
      font-size: .9rem;
  }

  /*contact*/
  #contact{
      font-size: 1.2rem;
      background-color: #007bff;
      background-image: url("../img/overlay-bg.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-blend-mode: soft-light;
  }
  #contact .list-ico {
      list-style: none;
      padding-left: 0;
      font-size: 1rem;
      
  }
  #contact .list-ico span {
      color: #007bff;
  }
  #contact .socials  ul{padding: 0;

  }
  #contact .socials span
  {
    color: black;
     transition: all .5s;
    
    
      display: flex;
    justify-content:center;
    align-items: center;
     padding: 5px;
     height: 3rem ;
     width: 3rem ;
     border: #007bff solid 3px;
     border-radius: 50%;
     font-size: 2rem;
  }
  #contact .socials span:hover {
    background-color: #007bff;
    color: #fff;
    border: rgb(216, 205, 205) 3px solid;

  }
  #contact button {
    font-size: 1.2rem;
    transition: all .5s;
    border: solid transparent 3px;
}
  #contact button:hover{
      border: solid rgb(216, 205, 205) 3px;
  }
  .footer{
      font-size: 1rem;
  }
  .footer a:hover{
text-decoration-line: none !important;  


  }



 